{% extends 'blog/index.html' %}
{% load static %}
{% block content %}

<div class="alert alert-primary my-2">
    <h1 class="display-5 alert alert-primary">Search Results ( {{obj_Blog.count}} ) </h1>
    <hr>
    {% if obj_Blog.count <= 0 %}
    <p class="text-info"> Your search - <b>{{searchText}}</b><br><br>
        - did not match any posts.</p>
    <span class="text-info"><b>
        Suggestions:
        <ul>
            <li>Make sure that all words are spelled correctly.</li>
            <li>Try different keywords.</li>
            <li>Try more general keywords.</li>
        </ul>
    </b>
    </span>
    {% else %}
    {% for blog in obj_Blog %}
    <div class="row my-2">
        <div class="col-md-3">
            <div class="card" style="max-width: 100%;">
                <img src="{% static 'image/avtar2.jpg' %}" class="card-img" alt="">
            </div>
        </div>
        <div class="col-md-9">
            <table class="table table-sm mb-0">
                <tr class="row">
                    <td class="col-md-10">
                        <h4 class="card-title mb-0"><a href="/blog/{{blog.blog_username}}/{{blog.slug}}/">{{blog.title}}</a></h4>
                        <p class="card-text"><small class="text-muted mb-0">{{blog.timestamp}} | Author:
                            {{blog.author}}</small></p>
                    </td>
                    <td class="col-md-2">
                        <div class="readMore btn-group mr-2" role="group" aria-label="First group">
                            <a role="button" class="btn btn-sm btn-secondary" href="/blog/{{blog.blog_username}}/{{blog.slug}}/"><b>View
                                Post</b></a>
                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td>
                        <div class="blogPreview my-0">
                            <p class="card-text blogPreview">{{blog.content|safe|truncatechars:150}}</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}


{% block js %}
<script>
let blogPreview = document.getElementsByClassName("blogPreview");
Array.from(blogPreview).forEach((element)=>{
element.innerHTML = element.innerText;
})



</script>

{% endblock js %}